body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Less non_object_property_callError: Cannot call method \'slice\' of undefined in \\Users\\jaymiejones\\code\\emailsetupbuddy\\front-end\\public\\css\\less\\esb.less on line null, column 0: \A  \A  \A '; } 
                            
                            body * { 
                            display: none; 
                            } 